# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Repo tool (Android/Google)
.repo/

